<h1 class="page-header">{{prefix}}</h1>

<span id="user-count"></span>
<button id="enter-btn" on-click="chat">Entrar al Chat</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>

$(document).ready(check_for_chat);
function check_for_chat(){
  $.ajax({
      url: '/locations/chat_created/{{id}}',
      type: "Get",
      complete: function(response) {
        $("#enter-btn").click(join_chat);
        $("#user-count").html("Usuarios en chat: " + response.users);
      },
      error: function(jqXHR, text, error)
      {
        if(jqXHR.status === 404)
        {
          $("#enter-btn").click(create_chat);
          $("#enter-btn").html("Crear Chat");
          $("#user-count").html("Actualmente no existe un chat en esta ubicación.");
          create_chat();
        }
        else
        {
          console.log(error);
        }
      }
  });
}

function create_chat(){
  $.ajax({
      url: "/locations/create_chat/{{id}}/{{venue_name}}",
      type: "Get",
      complete: join_chat
  });
}

function join_chat()
{
  $.ajax({
    url: "/locations/join_chat/",
    type: "Get",
    complete: function() {
        //called when complete
        //window.location.replace(`https://{{host}}/chat_room/{{id}}`);
        console.log('process complete');
    },
  });
}

</script>
