<h1 class="page-header">{{venue_name}}</h1>

<span id="user-count"></span>
<button id="enter-btn">Entrar al Chat</button>

{{#if prefix}}
  <img src="{{prefix}}{{width}}x{{height}}{{suffix}}">
{{/if}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>


$(document).ready(check_for_chat);


function check_for_chat(){
  $.ajax({
      url: '/locations/chat_created/{{id}}',
      type: "Get",
      success: function(response) {
        console.log("entra a success");
        $("#enter-btn").click(join_chat);
        $("#user-count").html("Usuarios conectados: " + JSON.parse(response).body.users); 
      },
      error: function(jqXHR, text, error)
      {
        console.log(jqXHR.status);
        if(jqXHR.status === 404)
        {
          $("#enter-btn").click(create_chat);
          $("#enter-btn").html("Crear Chat");
          $("#user-count").html("Actualmente no existe un chat en esta ubicación.");
        //  create_chat();
        }
        else
        {
          console.log(error);
        }
      }
  });
}

function create_chat(){
  console.log("create_chat");

  $.ajax({
      url: "/locations/create_chat/{{id}}/{{venue_name}}",
      type: "Get",
      complete: join_chat
  });


}

function join_chat()
{
  console.log("join_chat");
  $.ajax({
    url: "/locations/join_chat/{{id}}/{{venue_name}}",
    type: "Get",
    success: function(response) {
        //called when complete
        window.location.replace(response.redirect_to);
        console.log('process complete');
    },
  });
}

</script>
