<h1 class="page-header">{{venue_name}}</h1>

<span id="user-count"></span>
<button id="enter-btn" on-click="chat">Entrar al Chat</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>

$(document).ready(check_for_chat);

function check_for_chat(){
  $.ajax({
      url: "https://"+ "{{host}}" +"/api/v1/is_chat_created/",
      type: "Get",
      beforeSend: function (request)
      {
        request.setRequestHeader("chat_id", "{{id}}");
        request.setRequestHeader("CHAT_API_SECRET_KEY", "{{key}}");
      },
      complete: function(response) {
        $("#enter-btn").click(join_chat);
        $("#user-count").html("Usuarios en chat: " + response.users);
      },
      error: function(jqXHR, text, error)
      {
        if(jqXHR.status === 404)
        {
          $("#enter-btn").click(create_chat);
          $("#enter-btn").html("Crear Chat");
          $("#user-count").html("Actualmente no existe un chat en esta ubicación.");
          create_chat();
        }
        else
        {
          console.log(error);
        }
      }
  });
}

function create_chat(){
  $.ajax({
      url: "https://"+ "{{host}}" +"/api/v1/create_chat/",
      type: "Get",
      beforeSend: function (request)
      {
        request.setRequestHeader("chat_id", "{{id}}");
        request.setRequestHeader("chat_name", "{{venue_name}}");
        request.setRequestHeader("username", "{{username}}");
        request.setRequestHeader("CHAT_API_SECRET_KEY", "{{key}}");
      },
      complete: join_chat
  });
}

function join_chat()
{
  $.ajax({
    url: "https://"+ "{{host}}" +"/api/v1/join_chat/",
    type: "Get",
    beforeSend: function (request)
    {
        request.setRequestHeader("chat_id", "{{id}}");
        request.setRequestHeader("chat_name", "{{venue_name}}");
        request.setRequestHeader("username", "{{username}}");
        request.setRequestHeader("CHAT_API_SECRET_KEY", "{{key}}");
    },
    complete: function() {
        //called when complete
        window.location.replace(`https://{{host}}/chat_room/${id}`);
        console.log('process complete');
    },
  });
}

</script>
